{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='css/dashboard.css') }}"
  />
  <script
    src="{{ url_for('static', filename='js/dashboard.js') }}"
    defer
  ></script>
</head>
<div class="dashboard">
  <h1>Dashboard</h1>
  <div class="tabs">
    <div class="tab active" data-tab="users-tab">Users</div>
    <div class="tab" data-tab="requests-tab">Requests</div>
  </div>

  <div id="users-tab" class="tab-content active">
    <div class="user-list">
      <h2>All Users</h2>
      <ul>
        {% for user in users %} {% if user.id != current_user.id %}
        <li>
          {{ user.username }} | {{ user.email }}
          <form
            method="post"
            action="{{ url_for('user.delete_user', user_id=user.id) }}"
          >
            {{ form.hidden_tag() }}

            <button type="submit" class="delete-button">Delete</button>
          </form>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>

  <div id="requests-tab" class="tab-content">
    <div class="requests-list">
      <h2>All Requests</h2>
      <ul>
        {% for request in requests %}
        <li class="request-item">
          <div class="request-info">
            {{ request.user_id }} | {{ request.status }}
          </div>
          {% if request.status == 'InProgress' %}
          <div class="request-actions">
            <form method="post" action="{{ url_for('auth.confirm_request') }}">
              {{ form.hidden_tag() }}
              <input type="hidden" name="request_id" value="{{ request.id }}" />
              <input type="hidden" name="status" value="Accepted" />
              <button type="submit" class="confirm-button">Confirm</button>
            </form>
            <form method="post" action="{{ url_for('auth.confirm_request') }}">
              {{ form.hidden_tag() }}
              <input type="hidden" name="request_id" value="{{ request.id }}" />
              <input type="hidden" name="status" value="Refused" />
              <button type="submit" class="deny-button">Deny</button>
            </form>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
