{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
content %} {% if current_user.role == 'Author' or current_user.role == 'Admin'
%}
<head>
  <script
    src="{{ url_for('static', filename='js/dashboard.js') }}"
    defer
  ></script>
</head>
<button id="add-post-button" data-href="{{ url_for('post.add_post') }}">
  Add New Post
</button>
{% endif %} {% if current_user.role == 'Reader' %}
<button
  id="request-author-button"
  data-href="{{ url_for('user.request_author_role', user_id=current_user.id) }}"
>
  Request Author Role
</button>
{% endif %}
<ul>
  {% for post in posts %}
  <li>
    <a href="{{ url_for('post.post_details', post_id=post.id) }}"
      >{{ post.title }}</a
    >
    <span class="post-content">{{ post.body[:200] }}...</span>
    <span class="author">
      Date and time: {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }} Author:
      {{ post.author.username }}
    </span>
    <div class="hashtags">
      {% for category in post.categories %}
      <span class="hashtag">#{{ category.name }}</span>
      {% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<li id="hidden-flash" class="flash-message {{ category }}">{{ message }}</li>
{% endfor %} {% endif %} {% endwith %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
