<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign In</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Sign In</h1>
      <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.email.label }}<br />
          {{ form.email(size=32) }}<br />
          {% if form.email.errors %}
          <ul class="error-message">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="form-group">
          {{ form.password.label }}<br />
          <div class="password-container">
            {{ form.password(size=32, id="password") }}
            <span
              class="toggle-button"
              id="toggle-password"
              onclick="togglePasswordVisibility()"
            >
              <img
                id="eye-password-show"
                src="{{ url_for('static', filename='img/eye-password-show.svg') }}"
                alt="Show password"
              />
              <img
                id="eye-password-hide"
                src="{{ url_for('static', filename='img/eye-password-hide.svg') }}"
                alt="Hide password"
                style="display: none"
              />
            </span>
          </div>
          {% if form.password.errors %}
          <ul class="error-message">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul class="flashes">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <div>
          {{ form.recaptcha }} {% if form.recaptcha.errors %}
          <span style="color: red">{{ form.recaptcha.errors[0] }}</span>
          {% endif %}
        </div>
        <div class="form-group">{{ form.submit() }}</div>
      </form>

      <a href="{{ url_for('auth.register') }}"
        >Don't have an account yet? Sign Up</a
      >
      <a href="{{ url_for('auth.reset_request') }}">Reset Password</a>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
