<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <script src="https://www.google.com/recaptcha/api.js?render=6LdxnioqAAAAAFb8J7sg27ck3ZZv_JT3k0GnqIiN"></script>
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form method="post" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }}
        <div>
          {{ form.first_name.label }}<br />
          {{ form.first_name(size=32) }}<br />
          {% if form.first_name.errors %}
          <ul class="error-message">
            {% for error in form.first_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.last_name.label }}<br />
          {{ form.last_name(size=32) }}<br />
          {% if form.last_name.errors %}
          <ul class="error-message">
            {% for error in form.last_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.username.label }}<br />
          {{ form.username(size=32) }}<br />
          {% if form.username.errors %}
          <ul class="error-message">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.email.label }}<br />
          {{ form.email(size=32) }}<br />
          {% if form.email.errors %}
          <ul class="error-message">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.password.label }}<br />
          <div class="password-container">
            {{ form.password(size=64, id="password" )}}
            <span class="toggle-button" id="toggle-password">
              <img
                id="eye-password-show"
                src="{{ url_for('static', filename='img/eye-password-show.svg') }}"
                alt="Show password"
              />
              <img
                id="eye-password-hide"
                src="{{ url_for('static', filename='img/eye-password-hide.svg') }}"
                alt="Hide password"
              />
            </span>
          </div>
          {% if form.password.errors %}
          <ul class="error-message">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <div id="password-strength-meter">
            <div class="strength-bar"></div>
            <div class="strength-text"></div>
          </div>
        </div>
        <div>
          {{ form.confirm_password.label }}<br />
          <div class="password-container">
            {{ form.confirm_password(size=32, id="password-confirm" )}}<br />
            <span class="toggle-button" id="toggle-password-confirm">
              <img
                id="eye-password-confirm-show"
                src="{{ url_for('static', filename='img/eye-password-show.svg') }}"
                alt="Show password"
              />
              <img
                id="eye-password-confirm-hide"
                src="{{ url_for('static', filename='img/eye-password-hide.svg') }}"
                alt="Hide password"
              />
            </span>
          </div>
          {% if form.confirm_password.errors %}
          <ul class="error-message">
            {% for error in form.confirm_password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>
          {{ form.birth_date.label }}<br />
          {{ form.birth_date() }}<br />
          {% if form.birth_date.errors %}
          <ul class="error-message">
            {% for error in form.birth_date.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <input
          type="hidden"
          name="g-recaptcha-response"
          id="g-recaptcha-response"
        />
        <div>{{ form.submit() }}</div>
      </form>

      <a href="{{ url_for('auth.login') }}"
        >Already have an account? Sign In here</a
      >
    </div>
    <script src="{{ url_for('static', filename='js/zxcvbn-ts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
  </body>
</html>
