<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Reset Password</h1>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div>
          {{ form.password.label }}<br />
          <div class="password-container">
            {{ form.password(size=64, id="password" )}}
            <span class="toggle-button" id="toggle-password">
              <img
                id="eye-password-show"
                src="{{ url_for('static', filename='img/eye-password-show.svg') }}"
                alt="Show password"
              />
              <img
                id="eye-password-hide"
                src="{{ url_for('static', filename='img/eye-password-hide.svg') }}"
                alt="Hide password"
              />
            </span>
          </div>
          {% if form.password.errors %}
          <ul class="error-message">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <div id="password-strength-meter">
            <div class="strength-bar"></div>
            <div class="strength-text"></div>
          </div>
        </div>
        <div>
          {{ form.confirm_password.label }}<br />
          <div class="password-container">
            {{ form.confirm_password(size=32, id="password-confirm" )}}<br />
            <span class="toggle-button" id="toggle-password-confirm">
              <img
                id="eye-password-confirm-show"
                src="{{ url_for('static', filename='img/eye-password-show.svg') }}"
                alt="Show password"
              />
              <img
                id="eye-password-confirm-hide"
                src="{{ url_for('static', filename='img/eye-password-hide.svg') }}"
                alt="Hide password"
              />
            </span>
          </div>
          {% if form.confirm_password.errors %}
          <ul class="error-message">
            {% for error in form.confirm_password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div>{{ form.submit() }}</div>
      </form>
      <a href="{{ url_for('auth.login') }}"
        >Already have an account? Sign In here</a
      >
    </div>
    <script src="{{ url_for('static', filename='js/zxcvbn-ts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
  </body>
</html>
