.dashboard {
  text-align: center;
  padding: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.stat h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.stat p {
  font-size: 20px;
  margin: 0;
}

.user-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list h2 {
  font-size: 24px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.user-list li {
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: white;
}
